// Here you can add other styles

.field_validate_label {
    margin-bottom: 5px;
}

.action_edit {
color: coral !important;
}

.action_delete {
color: red !important;
}

.action_view {
color: lightblue !important;
}

.size_image_table {
max-height: 150px;
max-width: 150px;
}

.proofPayment {
max-height: 800px;
max-width: 400px;
}
.logo_feature {
max-height: 40px;
max-width: 40px;
}

figcaption {
background-color: #39f;
color: aliceblue;
font-style: italic;
padding: 2px;
text-align: center;
}

.img-item {
object-fit: cover;
width: 100%;
height: 100%;
}

.display-5 {
font-size: 3.5rem;
font-weight: 300;
line-height: 1.2;
}
.display-6 {
font-size: 1.5rem;
font-weight: 300;
line-height: 1.2;
}

.itemTextDesc {
text-align: justify;
margin: 15px 0 15px 0;
font-size: 1.2rem;
line-height: 1.2;
}

.stickyForm {
position: sticky;
margin-top: 23px;
top: 80px;
}

.pagination {
display: flex;
padding-left: 0;
list-style: none;
border-radius: 0.25rem;
margin: 15px auto;
}

.pagination > li > a {
border: 1px solid darkslategrey;
padding: 5px 10px;
outline: none;
cursor: pointer;
}

.pagination > .active > a {
background-color: blue;
border-color: darkblue;
color: antiquewhite;
}